*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
    outline: none;
    li{
        list-style: none;
    }  
    a{
        text-decoration: none;
        color: black;
    }
}
body{

    background-color: gray;
    h1{
            
    }
    .container{
        // background-color: aqua;
        margin-bottom: 10px;
        
        .styleContainer{
            display: flex;

            .style{
                padding: 10px;
                font-size: 1.5rem;
            }
        }
        .colection{
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            .cd{
                margin-right: 10px;
            }

            .image{
                width: 100px;
                height: 100px;
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .singer{
                font-size: 1rem;
            }
        }   
    }  
}